<h1>Angular</h1>
<courses></courses>
<pipes></pipes>
<!--Currently this favorite component is not public API and it does not take input and output properties
like eg., :
<favorite [isSelected] = "isSelected"></favorite>   input property binding coming from outside like app module
or
<favorite (click) = "favoriteSelctedEvent()"></favorite> output event binding component can raise or come out from it
-->
<div class="well">
        <h5>Simple favorite without any property binding</h5>
        <favorite></favorite>
        <!-- input property -->
        <h5>Favorite with property binding(using @Input) using variable obtained from app component</h5>
        <favorite [isFavorite] = "post.isFavorite" [myVariable] = "post.myVariable"></favorite>
        
        <!-- output property or event emitter-->
        <h5>Favorite with Event binding(using @Output) and EventEmitter class to app cpmponent</h5>
        <favorite (change)= "onFavoriteChanged($event)"></favorite>
</div>

<!-- <my-panel [header] = "post.header" [body] = "post.body" (changeNotification) = "onPanelClicked()"></my-panel> -->
<my-panel>
    <!-- we can use div here to replace the inside content (My Header) to the select property in panel
    but it will create an extra div. Better is to use ng container
    -->
    <ng-container class="heading">My Header</ng-container>
    <ng-container class="body">
        <h1>Body</h1>
        <p>Some body content goes here....</p>
    </ng-container>
    <ng-container class="footer">
        <span>
                <a href = "javascript:void(0)">Home</a>
                    | 
                <a href = "javascript:void(0)">User</a>
                    | 
                <a href = "javascript:void(0)">App Store</a>
                    | 
                <a href = "javascript:void(0)">Registration</a>
                    | 
                <a href = "javascript:void(0)">Questions?</a>
                
        </span>
    </ng-container>
</my-panel>


<like [heart-selected] = "post.linkHeartSelected" [total-likes]="post.linkHeartTotalLikes"></like>

<mydirectives-demo></mydirectives-demo>

<custom-search></custom-search>

<contact-forms></contact-forms>
<signup-form></signup-form>

<posts-component></posts-component>

